{% extends "layout.html" %}

{% block body %}

  <div class="page">
    <h3>Data Coordination Centre</h3>
    The modENCODE Data Coordintation Centre (DCC) collects and vets the raw and interpreted
    data of the project, and release it to the community.
    <p>
    Please refer to the <strong>Database (2011)</strong> article <a href=
    "http://database.oxfordjournals.org/cgi/content/full/bar023?ijkey=pCzIGdgVR6C9tRd&amp;keytype=ref">
    <i>The modENCODE Data Coordination Center: lessons in harvesting comprehensive
    experimental details</i></a> for more information about collection and vetting of the data.
    </p>
    <p>
    modENCODE data is released to the community via a series of four
    tools which take advantage of the extensive experimental metadata collected. 
    </p>
    <p>Each tool is aimed for different
    tasks and end-users, as well as the nature and volume of modENCODE datasets.
    </p>

    <ul>
      <li><a href="http://intermine.modencode.org/query">modMIne</a>: 
      The modMine interface provides researchers with the ability to perform
      sophisticated ad hoc queries on the modENCODE data and metadata.</li>

      <li><a href="http://modencode.oicr.on.ca/fgb2/gbrowse/">GBrowse</a>: genome browser based on the 
      Generic Genome Browser that provides
      researchers with a convenient way to browse modENCODE data organized as a series of
      graphical tracks spanning the worm and fly genomes, alongside core datasets from
      WormBase and FlyBase</li>

      <li><a href="http://data.modencode.org/">modENCODE Datasets Search</a>: it is a faceted submission 
      filtering tool that allows to get easily to the desired dataset.</li>

      <li>A <a href="http://wiki.modencode.org/">specialised Wiki</a>, with information on protocols, reagents and procedures,
      accessible through modMine.</li>
    </ul>
    </p>
    
  </div>
 
{% endblock %}
